<div class="topbar">
  <div class="topbar-search">
    <img src="/images/icons/admin/search.svg" alt="Search" />
    <input type="text" placeholder="Search orders, customers..." />
  </div>

  <div class="topbar-right">
    <div class="topbar-notification">
      <img src="/images/icons/admin/bell.svg" alt="Notifications" />
    </div>
  </div>
</div>
<script src="/js/admin/noback.js"></script>